@model Quiz

<h2>Update @Model.Questions</h2>

@using (Html.BeginForm("UpdateQuizInfoToDatabase", "Quiz", "Post"))
{
    <input asp-for="QuestionNumber" type="hidden" value="@Model.QuestionNumber" />

    <label asp-for="Questions" class="control-label">Questions</label>
    <input type="text" name="Questions" class="form-control" value="@Model.Questions" />

     <label asp-for="Answers" class="control-label">Answers</label>
    <input type="text"  name="Answers" class="form-control" value="@Model.Answers" />

     <label asp-for="WrongAnswers" class="control-label">WrongAnswers</label>
    <input type="text"  name="WrongAnswers" class="form-control" value="@Model.WrongAnswers" />

    <input type="submit" value="Update Quiz" class="btn btn-primary" />
}